{% extends 'base.html' %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-15">
            <div class="row">
                {% if user.is_authenticated %}
                <section style="background-color: #eee;">
                    <div class="container py-5">
                        <ul class="nav nav-tabs mb-4">
                            <li class="nav-item">
                                <a class="{% if page_name == 'Profile' %}nav-link active{% else %}nav-link{% endif %}" aria-current="page" href="{% url 'profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% if page_name == 'My articles' %}nav-link active{% else %}nav-link{% endif %}" aria-current="page" href="{% url 'manage_articles' %}">My articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="{% if page_name == 'Settings' %}nav-link active{% else %}nav-link{% endif %}" href="{% url 'settings' %}">Settings</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                   href="{% url 'manage_articles' %}" role="button"
                                   aria-expanded="false">Management</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'manage_articles' %}">Articles</a></li>
                                    <li><a class="dropdown-item" href="{% url 'manage_categories' %}">Categories</a></li>
<!--                                    <li><a class="dropdown-item" href="{% url 'new_article' %}">Create article</a></li>-->
<!--                                    <li><a class="dropdown-item" href="{% url 'new_category' %}">Create category</a></li>-->
                                    <li><a class="dropdown-item disabled" href="#"> ### </a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item disabled" href="#">###</a></li>
                                </ul>
                            </li>
                        </ul>


                        <div class="row">{% block profile %}{% endblock %}</div>


                    </div>
                </section>
                {% else %}

                <p>Sign In or Sign Up =)</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}