{% extends 'news/base_news.html' %}


{% block news %}

<h1>{{ page_name }}</h1>

{% if news %}

{% for n in news %}

<div class="card m-2 shadow-lg" style="width: 17rem;">
    <img src="{{ n.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="text-muted fst-italic mb-2">{{ n.date_of_create|date:'M j Y H:i' }}</div>
        <!--                        <div class="text-muted fst-italic mb-2">Last update {# n.date_of_update|date:'M j Y H:i' #}-->
        <!--                        </div>-->
        <h5 class="card-title">{{ n.title }}</h5>
        <p class="card-text">{{ n.description }}</p>
        <a href="{{ n.get_absolute_url }}" class="stretched-link"></a>
    </div>
</div>

{% endfor %}

{% else %}

<h3>{{ error }}</h3>

{% endif %}
{% endblock %}

{% block actions %}

{% if user.is_authenticated %}
<!-- Action widget-->
<div class="card mb-4 shadow-lg">
    <div class="card-header">Action</div>
    <div class="card-body">
        <div class="input-group">
            <a href="{% url 'new_article' %}" class="btn btn-outline-success btn-sm m-1">Create a new article</a>
            <a href="{% url 'manage_articles' %}" class="btn btn-outline-warning btn-sm m-1">Manage articles</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}