{% extends 'accounts/base_profile.html' %}

{% block profile %}

{% if error %}
<p style="color: red;">Bad data, try again.</p>
<p style="color: red;">{{ error }}</p>
{% endif %}
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{# url 'delete_article' pk #}">
        <button type="button" class="btn btn-outline-danger ms-2 me-2">Delete</button>
    </a>
    <a href="{% url 'manage_articles' %}">
        <button type="button" class="btn btn-outline-secondary ms-2 me-2">Cancel</button>
    </a>
</form>

{% endblock %}