{% extends 'news/base_news.html' %}


{% block news %}

<div class="d-flex justify-content-between">
    <h1>{{ page_name }}</h1>
</div>

{% if news %}

{% for n in news %}

<div class="card m-2 shadow-lg" style="width: 17rem;">
    <img src="{{ n.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="text-muted fst-italic mb-2">{{ n.date_of_create|date:'M j Y H:i' }}</div>
        <!--                        <div class="text-muted fst-italic mb-2">Last update {# n.date_of_update|date:'M j Y H:i' #}-->
        <!--                        </div>-->
        <h5 class="card-title">{{ n.title }}</h5>
        <p class="card-text">{{ n.description }}</p>
        <a href="{{ n.get_absolute_url }}" class="stretched-link"></a>
    </div>
</div>

{% endfor %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination bs-dark-rgb justify-content-end m-3">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% else %}

<h5>{{ error }}</h5>
<br><br><br><br><br>
{% if user.is_authenticated %}
<p><a href="{% url 'new_article' %}">Create</a> a new article from the action block or in your personal <a href="{% url 'profile' %}">profile</a></p>
{% else %}
<p><a href="{% url 'signin' %}">Signin</a> or <a href="{% url 'signup' %}">Signup</a> to create a new article</p>
{% endif %}

{% endif %}
{% endblock %}

{% block actions %}

{% if user.is_authenticated %}
<!-- Action widget-->
<div class="card mb-4 shadow-lg">
    <div class="card-header">Action</div>
    <div class="card-body">
        <div class="input-group">
            <a href="{% url 'new_article' %}" class="btn btn-outline-success btn-sm m-1">Create a new article</a>
            <a href="{% url 'manage_articles' %}" class="btn btn-outline-warning btn-sm m-1">Manage articles</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}