{% extends 'accounts/base_profile.html' %}

{% block profile %}

{% if articles %}
{% for article in articles %}
<div class="card mb-2">
    <div class="card-body">
        <a class="badge bg-secondary text-decoration-none link-light m-1" href="#!">
            {{ article.category }}</a>
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">#{{ article.id }} {{ article.title }}</h5>
            <small>{{ article.date_of_create|date:'M j Y H:i' }}</small>
        </div>
        <p class="card-text">{{ article.description }}</p>
        <a href="{{ article.get_absolute_url }}" class="btn btn-outline-primary btn-sm m-1">Read</a>
        <a href="{% url 'edit_article' article.id %}" class="btn btn-outline-warning btn-sm m-1">Edit</a>
        <a href="#" class="btn btn-outline-secondary btn-sm m-1">Withdraw</a>
        <a href="{% url 'delete_article' article.id %}" class="btn btn-outline-danger btn-sm m-1">Delete</a>
    </div>
</div>
<br>
{% endfor %}
{% else %}
<p>You haven't made any posts yet =(</p>
{% endif %}

{% endblock %}