{% extends 'accounts/base_profile.html' %}

{% block profile %}

<p class="h1">Create new category</p>

{% if error %}
<p style="color: red;">Bad data, try again.</p>
<p style="color: red;">{{ error }}</p>
{% endif %}
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Create</button>
    <a href="{% url 'manage_categories' %}">
        <button type="button" class="btn btn-outline-secondary ms-2 me-2">Cancel</button>
    </a>
</form>

{% endblock %}