{% extends 'base.html' %}

{% block content %}

<div class="container mt-4 mb-4">
    <div class="row">

{{ error }}

{% for n in news %}

        <div class="card m-2" style="width: 18rem;">
          <img src="{{ n.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ n.title }}</h5>
                <p class="card-text">{{ n.description }}</p>
                <a href="#" class="btn btn-black">Read</a>
            </div>
        </div>

{% endfor %}
    </div>

</div>

{% endblock %}